# PYTHON

# CHAPTER 1

In [2]:
print("Varnit")
print("Hello World")

Varnit
Hello World

In [3]:
print("Varnit is my name.")
print("My age is 24")

Varnit is my name.
My age is 24

In [4]:
print("Varnit is my name.","My age is 24")

Varnit is my name. My age is 24

In [5]:
print(23)

23

In [6]:
print(32)
print(25)

32
25

In [7]:
print(45+67)

112

## Variable
A variable is a name given to a memory location where we store data temporarily in a program to store data.
variable name must be unique within the scope of function or block.

 name = "Varnit" 

 age = 24 
 
 price = 19.95

In [8]:
name = "Varnit" #string variable
age = 24 #integer variable
price = 19.95 #float variable

In [10]:
print(name)
print(age)
print(price)

Varnit
24
19.95

In [11]:
print("my name is",name,)
print("my age is",age)

my name is Varnit
my age is 24

In [12]:
preferred_age = age

In [13]:
print("My age is ",preferred_age)

My age is  24

In [14]:
print(type(name))
print(type(age))
print(type(price))

<class 'str'>
<class 'int'>
<class 'float'>

## STRING Data Type

In [15]:
name1 = 'vk'
name2 = "vk"
name3 = '''vk'''

In [16]:
print(name1)
print(name2)
print(name3)

vk
vk
vk

### BOOLEAN Data Type
### NONE Data Type

In [17]:
age = 24
old = False
a = None

In [18]:
print(type(age))
print(type(old))
print(type(a))

<class 'int'>
<class 'bool'>
<class 'NoneType'>

## KEYWORDS
Keywords ar ereserved words in python and these cannot be used as identifiers.
They are used to define the syntax of the language.
for example: if, else, elif, while, def etc.

print sum

In [20]:
a=2
b=5
sum=a+b
print(sum)

7

## COMMENTS in python

- #single line comment

- """ 
multiline comment
"""

In [21]:
print("Hello World")
#print("Hello World")

Hello World

In [24]:
print("Hello World")
"""
This is a multiline comment
and this is the second line of the comment
"""

Hello World

'\nThis is a multiline comment\nand this is the second line of the comment\n'

In [ ]:
print("Hello World")
print("Hello World")
# print("Hello World")
# print("Hello World")
# print("Hello World")
# print("Hello World")

## OPERATORS IN PYTHON
An operator is a symbols that performs operations on variables and values.
In the example below, we use the + operator to add together two values:
Example
print(10+5)
Output: 15

Operation between Operands

### Types of Operators in Python
- Arithmetic operators(+,-,*,/,//,**,%)
- Relational operators|Comparison operators(<,>,<=,>=,==,!=)
- Assignment operators(=,+ =,-=,*=,/=%)
- Unary operators(-,+)
- Logical operators(not,and,or)
- Identity operators(is,is not)
- Membership operators(in,not in)
- Bitwise operators(&,|,^,~,<<,>>)

In [25]:
#arithmetic operators
a = 5
b = 2
print(a+b) #addition
print(a-b) #subtraction
print(a*b) #multiplication
print(a/b) #division
print(a%b) #modulus means remainder
print(a**b) #exponent

7
3
10
2.5
1
25

In [26]:
#relational operators
print(a>b) #greater than
print(a<b) #less than    
print(a>=b) #greater than or equal to    
print(a<=b) #less than or equal to    
print(a==b) #equal to                    
print(a!=b) #not equal to

True
False
True
False
False
True

In [28]:
#assignment operators
x = 5
print(x)
x += 3 #x = x + 3
print(x)
x -= 3 #x = x - 3
print(x)
x *= 3 #x = x * 3
print(x)
x /= 3 #x = x / 3
print(x)
x %= 3 #x = x % 3
print(x)
x **= 3 #x = x ** 3
print(x)

5
8
5
15
5.0
2.0
8.0

In [29]:
#logical operators
a = True
b = False
print(a and b) #and operator
print(a or b) #or operator
print(not a) #not operator

False
True
False

In [30]:
print(not False)
print(not True)

True
False

## Type Conversion
Defination of type conversion is to convert one data type into another.
For example: int() , float(), str(), bool()

## TYPER CONVERSION vs TYPE CASTING
type conver can be done automatically by python but type casting is not possible automatically.as interpreter automatically convert the data types of variables.
#example:
a=10
print(type(a))
b=str(20)
print(b,type(b))

In [ ]:
#type conversion
a = 2
b = 3.5
sum = a + b # here a is int and b is float so python automatically convert int to float
print(sum)

5.5

In [32]:
#type conversion
a = "2"
b = 3.5
sum = a + b 
print(sum)

TypeError: can only concatenate str (not "float") to str

## TYPE CASTING
print(int(1.2))
print(float("3"))
print(str(True))

In [35]:
#type casting
a = float("2")
b = 3.5
sum = a + b
print(sum)
print(type)

5.5
<class 'type'>

## INPUT in PYTHON

The `input()` statement is used to take input from the user.

**Syntax:**
```
variable_name = input("prompt")
```

**Example:**
```python
a = int(input("Enter a number"))
print(a)
```

**Output:**
```
Enter a number 5
5
```

In [36]:
input("Enter your name: ")

'varnit'

In [37]:
name = input("Enter your name: ")
print("Hello",name)

Hello VK

In [39]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
marks = float(input("Enter your marks: "))

print("welcome",name)
print("your age is",age)
print("your marks is",marks)

welcome Varnit
your age is 24
your marks is 98.43

## LETS PRACTICE PYTHON
Q1. Write a program to input 2 numbers & print their sum.

In [42]:
a = int(input ("enter number 1:"))
b = int(input("enter number 2:"))
sum = a + b

print ("the sum is :",sum)

the sum is : 11

Q2. WAP to input side of a square & pritn its area.

In [43]:
a = int(input("Enter side of the square:"))

area = a * a
print("The area of the square is:",area)

The area of the square is: 25

In [ ]:
a = float(input("Enter side of the square:"))

area = a ** 2
print("The area of the square is:",area)

The area of the square is: 25

Q3. WAp to input 2 floating point numbers & pritn their average.

In [45]:
a = float(input("enter num 1:"))
b = float(input("enter num 2:"))

avg = (a+b)/2
print("The average of two number is:",avg)

The average of two number is: 83.5

Q4. WAP to input 2 int number , a and b
* print True if a is greater than b else False

In [ ]:
a = int(input("enter num 1:"))
b = int(input("enter num2:"))
print(a>=b)
print(not(a>b))

False
True

# CHAPTER 1 FINISHED