# LISTS & TUPLES

- LISTS IN PYTHON
* A built-in dta atype that stores set of values
* List is a collection which is ordered and changeable. Allows duplicate members.
* Lists are created using square brackets
* It can store elements of different types (int,float,string)
* We can access the list items by referring to its index number inside square brackets

```marks =[87, 83, 90, 33, 79]        #marks[0],marks[1]....
students = ["Varnit", 25, "Delhi"]  #students[0], students[1]...
student[0]="Arjun"
len(student)```

In [ ]:
marks1=94.4
marks2=80.3
marks3=98.6
marks4=78.9
marks5=88.5

In [2]:
marks = [94.4, 80.3, 98.6, 78.9, 88.5]
print(marks)
print(type(marks))

[94.4, 80.3, 98.6, 78.9, 88.5]
<class 'list'>

In [3]:
print(marks[0])
print(marks[1])

94.4
80.3

In [4]:
print(len(marks))

5

* list are mutable

In [5]:
students = ["Varnit",97.5 , 25, "Delhi", True]
print(students)
print(type(students))

['Varnit', 97.5, 25, 'Delhi', True]
<class 'list'>

In [6]:
print(students[0])

Varnit

In [7]:
students[0] = "Rohan"

In [9]:
print(students)

['Rohan', 97.5, 25, 'Delhi', True]

In [10]:
students = ["Varnit",97.5 , 25, "Delhi", True]
print(students[5])

IndexError: list index out of range

* LIST SLICING 

similar to string slicing

In [11]:
marks = [74,65,7,88,92,45,63,89,91,87]
print(marks[0:5])

print(len(marks))

[74, 65, 7, 88, 92]
10

In [12]:
print(marks[2:8])
print(marks[:8])
print(marks[2:])

[7, 88, 92, 45, 63, 89]
[74, 65, 7, 88, 92, 45, 63, 89]
[7, 88, 92, 45, 63, 89, 91, 87]

In [13]:
print(marks[-1:-5])
print(marks[-5:-1])

[]
[45, 63, 89, 91]

LIST METHODS

1. append() - Adds an element at the end of the list
2. clear() - Removes all the elements from the list
3. copy() - Returns a copy of the list
4. count() - Returns the number of elements with the specified value
5. extend() - Add the elements of a list (or any iterable), to the end of the current list
6. index() - Returns the index of the first element with the specified value
7. insert() - Adds an element at the specified position
8. pop() - Removes the element at the specified position
9. remove() - Removes the item with the specified value
10. reverse() - Reverses the order of the list
11. sort() - Sorts the list

mutating the list

In [14]:
list = [2,1,3]
list.append(4)
print(list)

[2, 1, 3, 4]

In [15]:
list.sort()
print(list)

[1, 2, 3, 4]

In [16]:
list.sort(reverse=True)
print(list)

[4, 3, 2, 1]

In [17]:
list = [5,3,6,2,10,1,4]
print(list.sort())
print(list.append(12))
print(list)

None
None
[1, 2, 3, 4, 5, 6, 10, 12]

In [19]:
list = [5,3,6,2,10,1,4]
list.reverse()
print(list)

[4, 1, 10, 2, 6, 3, 5]

In [21]:
list = ["banana","apple","cherry","kiwi","mango"]
list.sort()
print(list)
list.sort(reverse=True)
print(list)

['apple', 'banana', 'cherry', 'kiwi', 'mango']
['mango', 'kiwi', 'cherry', 'banana', 'apple']

In [22]:
list.insert(1,"orange")
print(list)

['mango', 'orange', 'kiwi', 'cherry', 'banana', 'apple']

In [23]:
list.insert(5,"watermelon")

In [24]:
print(list)

['mango', 'orange', 'kiwi', 'cherry', 'banana', 'watermelon', 'apple']

In [28]:
list=[3,4,6,1,8,9,1,3,4,5,6,7]
list.remove(1)
print(list)
list.pop(5)
print(list)

[3, 4, 6, 8, 9, 1, 3, 4, 5, 6, 7]
[3, 4, 6, 8, 9, 3, 4, 5, 6, 7]

# TUPLES in python

- A built in data type that is immutable (cannot be changed) and ordered.
- Tuples are used to store multiple items in a single variable.
- Tuple items are ordered, unchangeable, and allow duplicate values.

tup = (45,67,87,23,64)

tup[0]=43  # not allowed in python

``` 
tup1=()
tup2=(1,)
tup3=(1,2,3) ```

In [29]:
tup = (43,56,78,12,90)
print(tup)
print(type(tup))

(43, 56, 78, 12, 90)
<class 'tuple'>

In [32]:
print(tup[0])
print(tup[2])

43
78

In [33]:
tup[0]=43  # not allowed in python

TypeError: 'tuple' object does not support item assignment

In [37]:
tup = ()
print(tup)
print(type(tup))

()
<class 'tuple'>

for single value tuple we need to add comma after the element

In [39]:
tup = (1,)
print(tup)

(1,)

In [40]:
tup=(1)
print(tup)
print(type(tup))

1
<class 'int'>

Slicing in tuple

In [42]:
tup = (1,2,3,4,5,6,7,8,9,10)
print(tup[2:5]) # prints elements from index 2 to 4
print(tup[:5]) # prints elements till index 4
print(tup[5:]) # prints elements from index 5 to end
print(tup[-5:]) # prints last five elements
print(tup[:-5]) # prints all but the last five elements
print(tup[::-1]) # prints the tuple in reverse order

(3, 4, 5)
(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)
(6, 7, 8, 9, 10)
(1, 2, 3, 4, 5)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

TUPLE METHODS
``` t=(1,2,3)
print(t.count(1)) #count the number of times an element is present in tuple
print(t.index(2)) #returns index value of first occurence of given element
t=t+(4,) #adding elements to a tuple
print(t.index(3)) ```

In [47]:
tup = (1,2,3,3,3,3,4,5,6,7,8,9,10)
print(tup.index(8))
print(tup.count(3))

10
4

LETS PRACTICE 

- WAP to ask the user to enter names of their 3 favourite movies and stores them in a list
- WAP to check if a lsit contains a palindrome of elments

In [50]:
# WAP to ask the user to enter names of their 3 favourite movies and stores them in a list
movies = input("Enter the names of your 3 favourite movies, separated by commas: ").split(',')
print("Your favourite movies are:", movies)
list = [movies]

Your favourite movies are: ['ddlj', 'war', 'k3g']

In [55]:
movie = []
mov1 = input("enter the first movie name: ")
mov2 = input("enter the second movie name: ")
mov3 = input("enter the third movie name: ")

movie.append(mov1)
movie.append(mov2) 
movie.append(mov3)

print(movie)

['Tom & Jerry', 'Turbo', 'Naruto']

In [62]:
# WAP to  check if a lsit contains a palindrome of elments
list = [1,"2",3,"2",1]
l=list.copy()
l.reverse()
if l==list:
    print("The list is a palindrome")
else:
    print("The list is not a palindrome")

The list is a palindrome

In [63]:
l1=[1,2,1]
l2=[1,2,3]

copy_list = l1.copy()
copy_list.reverse()
if copy_list == l1:
    print("l1 is a palindrome") 
else:
    print("l1 is not a palindrome")

l1 is a palindrome